@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

body{
    margin: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #343A40;
    
}

::-webkit-scrollbar {
  width:12px;
  height: 10px;
  }
   
  /* aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza escuro*/
  ::-webkit-scrollbar-track {
  background:#333;
  }
   
  /* aqui é a alça da barra, que demonstra a altura que você está na página
  estou colocando uma cor azul clara nela*/
  ::-webkit-scrollbar-thumb {
  background: #7952B3;
  }


.container {
    width: 80%;
    height: 15vh;
    margin: auto;
    display: flex;
  z-index: 999;
  }

.header {
    border-bottom: 3px solid #7952b3c5;
    background-color: #E1E8EB;
    color: #252525;
    position: fixed;
    width: 100%;
    height: 15vh;
  }
  
  .header .container {
    justify-content: space-between;
   
  }
  

  .header li{
    transition: 0.5s;
  }

  .header li:hover { 
    transform: scale(1.09);
    font-weight: bold;
    color: #7952B3;
    transition: 1s;
  }
  


  .header a{
    text-decoration: none;
    color: #252525;
    transition: 0.5s;
  }

  .header a:hover { 
    transform: scale(1);
    font-weight: bold;
    color: #7952B3;
    transition: 1s;
  }
  
  .header h1 {
    text-decoration: none;
    color: #252525;
    font-size: 26px;
  }

  .agora {
    font-weight: 400;
    color: #7952B3;
    background-color: #7952b342;
    padding: 1%;
    height: 40%;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar {
    width: 37vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #252525;
    font-size: 18px;
    
  }

  .navbar li{
    margin-left: 5%;
    
  }
  
 
  
  .logo{
      width: 20vw;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: -18%;
  }

  .logo img{
      width: 85%;
  }

  .container_dash{
    width: 100%;
    height: 135vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
  }

  .box_texto_inicio{
    width: 65%;
    height: 20%;
    background-color: #3d304e;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    border-radius: 12px;
    margin-top: 7%;
    border: 1.5px #f7d494 outset;
  }

  .box_texto_inicio p{
    color: #E1E8EB;
    font-size: 22px;
    width: 80%;
  }

  .box_dash{
    width: 90%;
    height:50%;
    background-color: #3d304e;
    margin-top: 2%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(0, 0, 0) 0px 0px 15px 0px inset;
    /* box-shadow: rgba(206, 206, 200, 0.486) 0px -50px 36px -28px inset; */
    border: 1.5px #f7d494 outset;
  }

  #grafico1{
    width: 63vh;
    height: 68vh;
  }

 